@import 'stylesheets/colors';

.AppLayout {
  min-height: 100vh;

  &--light {
    background-color: $light-color;
    color: $dark-color;
  }

  &--dark {
    background-color: $dark-color;
    color: $light-color;
  }

  header,
  main {
    padding: 24px;
  }

  header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1000px;

    p {
      font-size: 1.8rem;
      font-weight: bold;
      margin: 0;
    }
  }

  main {
    margin: 0 auto;
    max-width: 800px;

    h1 {
      margin-top: 0;
    }
  }
}
